body {
  margin-left: 10px;
  background-color: black;
  color: white;
}

.navbar {
  background-color: rgb(6, 33, 33);
  width: 100%;
}

.container {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.logo {
  text-decoration: none;
  font-weight: bold;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 30px;
  color: lightseagreen;

}


.openMenu {
  height: 100%;
  width: max-content;
}

.openMenu:hover {
  cursor: pointer;
}
nav {
  display: none;
}

.hero, .p1, .h1 {
  text-align: center;
}
.hero, p {
  font-family:'Courier New', Courier, monospace;
  
}

.infoSection {
  margin-top: 70px;
  text-align: center;
}

.infoH2 {
    margin-top: 50px;
    margin-top: 50px;
    opacity: 1;
  margin-top: 50px;
    opacity: 1;
  color: lightseagreen;
  font-size: 30px;
  font-family: cursive;
  text-align: center;
}


.infoFont {
  font-family: cursive
}


button {
  padding: 10px 40px;
  border-radius: 30px;
  border: none;
  background-color: purple;
}

button:hover {
  background-color: aqua;
  transition: all 1s ease-out;
  cursor: pointer;
}


.speakerContainer {
    margin-top: 30px;
    margin-top: 30px;
    opacity: 0;
  margin-top: 30px;
    opacity: 0;
  text-align: center;
}


.earth {
  margin-top: 30px;
  position: relative;
  display: block;
  margin: 0px auto;
  width: 400px;    
  height: 400px;
  background-image: url(https://www.h-schmidt.net/map/map.jpg);
  border-radius: 50%;
  background-size: cover;
  box-shadow: -20px -20px 50px  2px #000 inset, 0 0 20px 2px #000;
  animation: spin 30s linear alternate infinite;
}



@keyframes spin {
  100%{background-position: 100%;}
}

.earthPicture {
  position: relative;
}

.imageEarth {
  position: absolute;
  height: 100px;
  right: 0;
}



.footer {
  margin-left: 10px;
}
input {
  display: block;
  margin-bottom: 20px;
  background-color: black;
  color: white;
  border-color: lightseagreen;
}

textarea {
  display: block;
  margin-bottom: 20px;
  background-color: black;
  color: white;
  border-color: lightseagreen;
}










/*
@keyframes float {
  0% {
    box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
    transform: translateY(0px);
  }
  50% {
    box-shadow: 0px 25px 15px 0px rgba(0,0,0,0.2);
    transform: translateY(-20px);
  }
  100% {
    box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
    transform: translateY(0px);
  }
}
@keyframes mymove {
  0% {
    transform:translate(100px);
    opacity: 0;
  }
  100% {
    transform:translate(0px);
    opacity: 1;
  }
}
 */

@media screen and (min-width: 320px) {
    .image {
        margin: 0 auto;
    }

  .footer {
      margin: 0 auto;
  }
}

@media only screen and (min-width: 768px) {
  .openMenu, .closeMenu {
    display: none;
  }
  .navbar .container {
    display: grid;
    grid-template-columns: 180px auto;
  }
  .navbar nav {
    display: flex;
    justify-content: space-between;
    background: none;
    position: unset;
    height: auto;
    width: 100%;
    padding: 0;
  }
  .navbar nav ul {
    display: flex;
  }
  .navbar nav a {
    color: black;
    font-size: 1em;
    padding: 0.1em 1em;
  }
  .navbar nav ul.primary-nav {
    margin: 0;
  }
  .navbar nav li.current {
    font-weight: bold;
  }

}


nav.menu-btn {
  display: block;
}

nav {
  position: fixed;
  z-index: 999;
  width: 50%;
  right: 0;
  top: 0;
  background: rgb(6, 52, 50);
  height: 100vh;
  padding: 1em;
}
nav ul.primary-nav {
  margin-top: 5em;
  list-style: none;
}
nav li {
  color: white;
  text-decoration: none;
  display: block;
  padding: 0.5em;
  font-size: 1.3em;
  text-align: right;
  list-style: none;
}
nav li a:hover {
  font-weight: bold;
}

.closeMenu {
  height: 20px;
  width: max-content;
  float: right;
  margin: 8px;
  cursor: pointer;
}

.primaryList {
  cursor: pointer;
}

.reveal {
position: relative;
transform: translateY(150px);
opacity: 0;
transition: all 2s ease;
}

.reveal.active {
transform: translateY(0px);
opacity: 1;
}

@media (min-width: 620px) {
  .hero {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
  }
}

